$font: "Space Mono", monospace;
$title-color:  #BF4080;
$text-color:  #6b717f; 
$bg-color:  #fff;
$section-border-color:#8C8C8C;
$color-code: #8C8C8C;
$bg-code:#000;
$code-border-color: #6b717f;
$bg-success:green;
$bg-error:red;
$bg-warning:orange;
$shadow: 10px 10px 15px -4px #6b717f;
$align: center;
$body-padding: 0;
$body-margin:0;
$main-padding: 0 1em;
$section-margin:16px;
$reuse-padding: 16px;
$code-padding: 1em 1.5em;
$padding-double: $reuse-padding*2; 


@mixin box-shadow($value){
    
    box-shadow: 10px 10px 15px -4px $value;
    
}